includes:
	- ../../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- ../../../vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
	- ../../../vendor/phpstan/phpstan-strict-rules/rules.neon
# ../../../ is required because this file is use as base and we want to include all those extra rules

services:
	-
		class: Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
		tags:
			- phpstan.rules.rule
	-
		class: SlamPhpStan\UnusedVariableRule
		tags:
			- phpstan.rules.rule

	-
		class: Lycheeorg\PHPStan\Rules\DisallowedConstructs\DisallowedBooleanCastRule
		tags:
			- phpstan.rules.rule
	-
		class: Lycheeorg\PHPStan\Rules\DisallowedConstructs\DisallowedBooleanConversionRule
		tags:
			- phpstan.rules.rule

parameters:
	level: 7
	reportMaybesInPropertyPhpDocTypes: false
	checkMissingIterableValueType: false
	featureToggles:
		bleedingEdge: true