includes:
	- ../../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- ../../../vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
	- ../../../vendor/phpstan/phpstan-strict-rules/rules.neon
	- ../../../vendor/symplify/phpstan-rules/config/services/services.neon
	# - ../../../vendor/symplify/phpstan-rules/config/array-rules.neon
	- ../../../vendor/symplify/phpstan-rules/config/packages/cognitive-complexity/cognitive-complexity-services.neon
	# - ../../../BoolishClassMethodPrefixRule
# ../../../ is required because this file is use as base and we want to include all those extra rules

services:
	-
		class: SlamPhpStan\UnusedVariableRule
		tags:
			- phpstan.rules.rule

	-
		class: Lycheeorg\PHPStan\Rules\DisallowedConstructs\DisallowedBooleanCastRule
		tags:
			- phpstan.rules.rule
	-
		class: Lycheeorg\PHPStan\Rules\DisallowedConstructs\DisallowedBooleanConversionRule
		tags:
			- phpstan.rules.rules

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#checkclassnamespacefollowpsr4rule
		class: Symplify\PHPStanRules\Rules\CheckClassNamespaceFollowPsr4Rule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#checknottestsnamespaceoutsidetestsdirectoryrule
		class: Symplify\PHPStanRules\Rules\CheckNotTestsNamespaceOutsideTestsDirectoryRule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#checkrequiredinterfaceincontractnamespacerule
		class: Symplify\PHPStanRules\Rules\CheckRequiredInterfaceInContractNamespaceRule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#checksprintfmatchingtypesrule
		class: Symplify\PHPStanRules\Rules\Missing\CheckSprintfMatchingTypesRule
		tags:
			- phpstan.rules.rule

	# - # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#forbiddencomplexforeachifexprrule
	# 	class: Symplify\PHPStanRules\Rules\Complexity\ForbiddenComplexForeachIfExprRule
	# 	tags:
	# 		- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#forbiddenfunccallrule
		class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
		tags:
			- phpstan.rules.rule
		arguments:
			forbiddenFunctions:
				eval: 'eval is not allowed'
				dd: 'seems you missed some dd debugging function'
				dump: 'seems you missed some dump debugging function'

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#forbiddenmultipleclasslikeinonefilerule
		class: Symplify\PHPStanRules\Rules\ForbiddenMultipleClassLikeInOneFileRule
		tags:
			- phpstan.rules.rule

	# - # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#forbiddenparamtyperemovalrule
	# 	class: Symplify\PHPStanRules\Rules\ForbiddenParamTypeRemovalRule
	# 	tags:
	# 		- phpstan.rules.rule

	# - # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#NoDuplicatedRegexRule
	# 	class: Symplify\PHPStanRules\Rules\Domain\NoDuplicatedRegexRule
	# 	tags:
	# 		- phpstan.rules.rule

	# - # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#noconstructorintestrule
	# 	class: Symplify\PHPStanRules\Rules\NoConstructorInTestRule
	# 	tags:
	# 		- phpstan.rules.rule

	# - # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#nodefaultexceptionrule
	# 	class: Symplify\PHPStanRules\Rules\NoDefaultExceptionRule
	# 	tags:
	# 		- phpstan.rules.rule

	# - # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#noemptyclassrule
	# 	class: Symplify\PHPStanRules\Rules\NoEmptyClassRule
	# 	tags:
	# 		- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#noissetonobjectrule
		class: Symplify\PHPStanRules\Rules\NoIssetOnObjectRule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#norightphpunitassertscalarrule
		class: Symplify\PHPStanRules\Rules\PHPUnit\NoRightPHPUnitAssertScalarRule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#prefixabstractclassrule
		class: Lycheeorg\PHPStan\Rules\NamingConventions\PrefixAbstractClassRule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#nonullablearraypropertyrule
		class: Symplify\PHPStanRules\Rules\NoNullableArrayPropertyRule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#uppercaseconstantrule
		class: Symplify\PHPStanRules\Rules\UppercaseConstantRule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#switchtomatchspotterrule
		class: Symplify\PHPStanRules\Rules\Spotter\SwitchToMatchSpotterRule
		tags:
			- phpstan.rules.rule

	- # https://github.com/symplify/phpstan-rules/blob/main/docs/rules_overview.md#forbiddenparamtyperemovalrule
		class: Symplify\PHPStanRules\Rules\ForbiddenNodeRule
		tags:
			- phpstan.rules.rule
		arguments:
			forbiddenNodes:
				- PhpParser\Node\Expr\ErrorSuppress # disallow the use of '@' to silence errors

parameters:
	level: 7
	reportMaybesInPropertyPhpDocTypes: false
	checkMissingIterableValueType: false
	featureToggles:
		bleedingEdge: true